# Enable C++ support
language: cpp

# Compiler selection
compiler:
  - gcc

os: linux
dist: trusty
before_install:
 - sudo apt-get -qq update
 - sudo apt-get install -y libgtest-dev
 - sudo wget https://github.com/google/googletest/archive/release-1.7.0.tar.gz
 - sudo tar xf release-1.7.0.tar.gz
 - cd googletest-release-1.7.0
 - sudo cmake -DBUILD_SHARED_LIBS=ON .
 - sudo make
 - sudo cp -a include/gtest /usr/include
 - sudo cp -a libgtest_main.so libgtest.so /usr/lib/
 - cd "${TRAVIS_BUILD_DIR}"

# Build steps
script:
  - mkdir build
  - cd build
  - cmake .. && make

  branches:
    only:
      - master
      - gh
notifications:
  recipients:
    - rafaelcdn@gmail.com
  email:
    on_success: never
    on_failure: change